.burger-menu {
  display: none;
  height: 3px;
  width: 30px;
  background-color: #000;
  position: relative;

  &:before, &:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    background-color: #000;
  }

  &:before {
    top: 8px;
  }

  &:after {
    top: -8px;
  }

  &.show {
    background-color: inherit;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
