// For field-time-vacation when not full day
.form-disabled {
    display: none !important;
}
a:focus {
  box-shadow: none!important;
  border: none!important;
}
// Header vacation user menu
header {
  z-index: 3!important;
  height: auto;
  margin-bottom: 10px;
  box-shadow: gray 0 7px 5px;
  position: fixed!important;
  top: 0!important;
  flex-wrap: nowrap;
}
.region-sticky__items__inner {
  flex-wrap: nowrap;
}
.gin--edit-form .region-sticky {
  top: 0!important;
}
.page-content {
  padding-top:  100px;
}
.primary-menu {
  width: 100%;
  .region-primary-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sticky-shadow {
  display: none;
}
#block-vacationusermenu {
  & > ul {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    & > li {
      list-style-type: none;
      text-transform: uppercase;
      padding: 2px 14px;
      & > a {
        text-decoration: none;
        color: #000;
        font-size: 17px;
        font-weight: 500;
        font-style: italic;
      }
      &:hover {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.8);
        position: relative;
        & > ul {
          position: absolute;
          display: block;
          z-index: 102;
          text-align: center;
          background-color: var(--gin-bg-app);
          width: 100%;
          box-shadow: gray 0 10px 3px -2px;
          border-radius: 10px;
          & > li {
            &:hover {
              background-color: #fff;
              border-radius: 10px;
              box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.8);
            }
          }
        }
      }
      & > ul {
        display: none;
        margin: 0;

        & > li {
          list-style-type: none;
          text-transform: uppercase;

          & > a {
            text-decoration: none;
            color: #000;
            font-size: 17px;
            font-weight: 500;
            font-style: italic;
          }
        }
      }
    }
  }
}

#block-vacation-views-block-balance-block-2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.8);
  padding-left: 13px;
  display: flex;
  & > h2 {
    cursor: default;
    margin: auto auto;
    text-transform: uppercase;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
    color: #000;
    &:after {
      content: ":";
    }
  }
  & > div {
    background-color: transparent;
    & > .view-id-balance {
      background-color: transparent;
      & > .gin-layer-wrapper {
        padding: 0;
        border: none;
        background-color: transparent;
        & > div {
          background-color: transparent;
          margin: 0;
          padding: 0;
          & > table {
            display: flex;
            margin: 0;
            border-collapse: inherit;
            & > thead {
              display: none;
            }
            & > tbody {
              font-weight: 500;
              color: #000;
              font-style: italic;
              font-size: 20px;
              & > tr {
                & > td {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
}

.no-result {
  font-size:24px;
  font-style: italic;
  font-weight: 500;
}

@import "primary_menu-media";
